<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="1 seconds">
  <conversionRule conversionWord="localIp" converterClass="com.taikang.dic.ltci.common.log.convert.LocalIpConvert"/>
  <conversionRule conversionWord="remoteIp" converterClass="com.taikang.dic.ltci.common.log.convert.RemoteIpConvert"/>
  <conversionRule conversionWord="localCode" converterClass="com.taikang.dic.ltci.common.log.convert.LocalSystemCodeConvert"/>
  <conversionRule conversionWord="remotCode" converterClass="com.taikang.dic.ltci.common.log.convert.RemoteSystemCodeConvert"/>
  <conversionRule conversionWord="mc" converterClass="com.taikang.dic.ltci.common.log.convert.ModuleCodeConvert"/>
  <conversionRule conversionWord="stt" converterClass="com.taikang.dic.ltci.common.log.convert.SendTimestampConvert"/>
  <conversionRule conversionWord="bs" converterClass="com.taikang.dic.ltci.common.log.convert.BusinessSerialidConvert"/>
  <!-- 获取时间字符串  -->
  <timestamp key="ByDate" datePattern="yyyyMMdd"/> 
  <property name="moduleCode" value="evaluate-nursing"/> 
  <!-- 所有级别日志输出到控制台 -->
  <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%d{yyyy-MM-dd HH:mm:ss}|%t|%p|%localIp|%localCode|%remoteIp|%remotCode|%mc|%bs|%stt|%F|%L|%m%n</pattern>
    </encoder>
  </appender>
  <!-- 按文件大小区分的滚动日志 生产环境输出INFO级别以上日志-->
  <appender name="file" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <file>log/ltci/${moduleCode}/ltci.log</file>
    <encoder>
      <pattern>%d{yyyy-MM-dd HH:mm:ss}|%t|%p|%localIp|%localCode|%remoteIp|%remotCode|%mc|%bs|%stt|%F|%L|%m%n</pattern>
    </encoder>
    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
      <fileNamePattern>log/ltci/${moduleCode}/ltci.log.%i-%d{yyyy-MM-dd}</fileNamePattern>
      <maxHistory>15</maxHistory>
      <cleanHistoryOnStart>true</cleanHistoryOnStart>
      <timeBasedFileNamingAndTriggeringPolicy
				class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
			<maxFileSize>10MB</maxFileSize>
	  </timeBasedFileNamingAndTriggeringPolicy>
    </rollingPolicy>
  </appender>
  
  <springProfile name="default">
  		<!-- log4mybatis -->
	  <logger name="java.sql.PrepareStatement" level="DEBUG"/>
	  <logger name="java.sql.ResultSet" level="DEBUG"/>
	  <logger name="com.taikang.dic.ltci" level="DEBUG"/>
	  
	 <root level="INFO">
	   	<appender-ref ref="console"/>
	   	<appender-ref ref="file"/>
	 </root>
  </springProfile>
  
  <springProfile name="development">
  	  <logger name="java.sql.PrepareStatement" level="DEBUG"/>
	  <logger name="java.sql.ResultSet" level="DEBUG"/>
	  <logger name="com.taikang.dic.ltci" level="DEBUG"/>
	  
  	 <root level="INFO">
	   	<appender-ref ref="console"/>
	   	<appender-ref ref="file"/>
	 </root>
  </springProfile>
  <springProfile name="dev">
  	  <logger name="java.sql.PrepareStatement" level="DEBUG"/>
	  <logger name="java.sql.ResultSet" level="DEBUG"/>
	  <logger name="com.taikang.dic.ltci" level="DEBUG"/>
	  
  	 <root level="INFO">
	   	<appender-ref ref="console"/>
	   	<appender-ref ref="file"/>
	 </root>
  </springProfile>
  <springProfile name="test">
  	  <logger name="java.sql.PrepareStatement" level="DEBUG"/>
	  <logger name="java.sql.ResultSet" level="DEBUG"/>
	  <logger name="com.taikang.dic.ltci" level="DEBUG"/>
	  
	 <root level="INFO">
	   	<appender-ref ref="console"/>
	   	<appender-ref ref="file"/>
	 </root>
  </springProfile>
  <springProfile name="pro">
	 <root level="INFO">
	   	<appender-ref ref="file"/>
	 </root>
  </springProfile>
</configuration>